*.exe
*.o
*.obj

run_output.txt

build/
.vscode/

venv/
.venv/


__pycache__/
*.pyc
.aider*
.aider-env/

venv/
.env/
.envrc/

**pycache**/
*.pyc

node_modules/

.cache/
tmp/
temp/

dist/
bin/

compile_commands.json
